
.active_result_view{
    color: rgb(107, 60, 151);
}

.active_nav{
    color: rgb(107, 60, 151);
    border-bottom: 2px solid rgb(107, 60, 151);
}

.search_nav:hover{
    color: rgb(107, 60, 151);
    border-bottom: 2px solid rgb(107, 60, 151);
}

.cursor_pointer{
    cursor:pointer;
}
.cursor_pointer:hover{
    color: rgb(107, 60, 151);
}
.cursor_pointer_underline{
    cursor:pointer;
}
.cursor_pointer_underline:hover{
    color: rgb(107, 60, 151);
    text-decoration: underline;
}

.one_line_ellipses{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.width-200{
   width: 200px;
}

.bookmark-icon {
    transition: color 0.3s ease;
}

.bookmark-icon.gray {
    color: gray;
    fill: aqua;
}
