
.checkbox-wrapper-46{
  display: flex;
  gap: 8px;
}
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }

  @keyframes open {
    0%  {background-position: 166% -25%, 220% -69%;}
    100%{background-position: 120% -5%, 200% -40%;}
  }
  
  .field{
    margin: 5px;
    display: flex;
    flex-direction: column;
    }
  .input_hidden input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    border:1px solid #eee;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-wrap{
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
  }
  .img-upload:before{
    content: "Change";
    font-size: 30px;
    position: absolute;
    padding-top: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #63d3a6;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: .5s ease;
  }
  .img-upload:hover:before{
    opacity: 1;
    color: #333;
    background-color: #ffffffab;
  }
  .swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    width: 1.9375em !important;
    top: 2em !important;
  }
 
  
  /* input{
    border-radius: 15px;
    border: 1px solid #b7b7b7;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
    transition: 0.2s;
  }
  input:focus{
    outline: none;
    border: 1px solid #64d488;
  }
  input::placeholder{
    color: #bebebe;
  } */
  .name{ 
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #676767;
    max-width: 220px;
    overflow-wrap: break-word;
  }
  .status{
    text-align: center;
    max-width: 220px;
    overflow-wrap: break-word;
  }

  .save{
    font-weight: 600;
    left: -20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 20px;
    box-shadow: 20px 0px 40px 0px  #63d3a6;
  }


  /* styles/globals.css or a module CSS file */

.swiper-button-next,
.swiper-button-prev {
  /* background-color:#333; */
  background-color:#eee1e1;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  color: #333 !important;
  top: 40% !important;
  /* transform: translate(-50%); */
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 16px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}
